hu.documaison.bll/src/hu/documaison/bll/ws/DOIWsProxy.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://doiwsproxy.documaison.hu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://doiwsproxy.documaison.hu/" name="DOIWsProxy">
<types>
<xsd:schema>
<xsd:import namespace="http://www.crossref.org/qrschema/2.0" schemaLocation="http://vm.ik.bme.hu:10809/DOIWsProxy/DOIWsProxy?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://doiwsproxy.documaison.hu/" schemaLocation="http://vm.ik.bme.hu:10809/DOIWsProxy/DOIWsProxy?xsd=2"/>
</xsd:schema>
</types>
<message name="query">
<part name="parameters" element="tns:query"/>
</message>
<message name="queryResponse">
<part name="parameters" element="tns:queryResponse"/>
</message>
<message name="queryAuthor">
<part name="parameters" element="tns:queryAuthor"/>
</message>
<message name="queryAuthorResponse">
<part name="parameters" element="tns:queryAuthorResponse"/>
</message>
<message name="queryTitle">
<part name="parameters" element="tns:queryTitle"/>
</message>
<message name="queryTitleResponse">
<part name="parameters" element="tns:queryTitleResponse"/>
</message>
<portType name="DOIWsProxy">
<operation name="query">
<input wsam:Action="http://doiwsproxy.documaison.hu/DOIWsProxy/queryRequest" message="tns:query"/>
<output wsam:Action="http://doiwsproxy.documaison.hu/DOIWsProxy/queryResponse" message="tns:queryResponse"/>
</operation>
<operation name="queryAuthor">
<input wsam:Action="http://doiwsproxy.documaison.hu/DOIWsProxy/queryAuthorRequest" message="tns:queryAuthor"/>
<output wsam:Action="http://doiwsproxy.documaison.hu/DOIWsProxy/queryAuthorResponse" message="tns:queryAuthorResponse"/>
</operation>
<operation name="queryTitle">
<input wsam:Action="http://doiwsproxy.documaison.hu/DOIWsProxy/queryTitleRequest" message="tns:queryTitle"/>
<output wsam:Action="http://doiwsproxy.documaison.hu/DOIWsProxy/queryTitleResponse" message="tns:queryTitleResponse"/>
</operation>
</portType>
<binding name="DOIWsProxyPortBinding" type="tns:DOIWsProxy">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="query">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="queryAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="queryTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DOIWsProxy">
<port name="DOIWsProxyPort" binding="tns:DOIWsProxyPortBinding">
<soap:address location="http://vm.ik.bme.hu:10809/DOIWsProxy/DOIWsProxy"/>
</port>
</service>
</definitions>